{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Об авторе</h1>
        Меня зовут Тимофей, но друзья зовут меня пить пиво 🥰. Мне 18 лет, я студент 3-ого курса по направлению СММ. Выбрал бекенд, так как было интересно попробовать, что это, как выглядят боты, сайты, приложения изнутри. Переехал с Кипра в Москву, живу, учусь и развиваюсь)
        <br>
{% endblock %}
